{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Our Artists</h2>
                <hr>
                <p><a href="{% url 'products' %}?category=Fredrica%20Handy" class="artist-link">Fredrica Handy </a> is a abstract artist working in multple fields, she finds inspiration in the bizarre and unusual.</p>
                <p><a href="{% url 'products' %}?category=Jared_Pottle" class="artist-link">Jared Pottle </a>Jared Pottle is an artist inspired by the human form. His work questions the very nature of humanity and how we perceive it.</p>
                <p><a href="{% url 'products' %}?category=ceris_lightler" class="artist-link">Ceris Lightler </a>Ceris Lightler describes her work as 'the abstract in the everyday',  Ceris sees the limimal space as ones that reveal a world beyond the normal.</p>
                <p><a href="{% url 'products' %}?category=luc_drir" class="artist-link">Luc Drir </a>Luc Drir bases his work in nature and the natural world. Never happier than when he is out on location photographing the world around him.</p>
                <p><a href="{% url 'products' %}?category=alan_red_bushe" class="artist-link">Alan 'Red' Bushe </a>Alan 'Red' Bushe is a fascinated by the decaying world, his work often designed to incorporate uneasy elements of death and decay.</p>
                <p><a href="{% url 'products' %}?category=portia_towe" class="artist-link">Portia Towe </a>Portia Towe is our newest member, and her work is aimed at re-defining and elevating everyday objects into true works of art, upscaling beyond what the viewer would expect.</p>
                <p><a href="{% url 'products' %}?category=bethany_floode" class="artist-link">Bethany Floode </a>Bethany Floode is inspired by liminal spaces andd their uses. Her work is often seen as bleak and uncompromising, with a stark beauty that permeates her every piece.</p>
            </div>
        </div>
    </div>
{% endblock %}
