{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center mt-3">
                    <h2 class="logo-font">Artists</h2>
                </div>
            </div>
        </div>
            <div class="row">
                <div class="col">
                    <div class="artists-container col-10 offset-1">
                        <div class="row mt-1 mb-2">
                            {% for artist in artists %}
                                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                    <div class="card h-100 border-0">
                                    <h5 class="card-title text-center">{{ artist.name }}</h5>
                                        {% if artist.image %}
                                            <img class="card-img-top img-fluid" src="{{ artist.image.url }}" alt="{{ artist.name }}">
                                        {% else %}
                                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ artist.name }}">
                                        {% endif %}
                                        <p class="card-text">{{ artist.country }}
                                        </p>
                                        <a class="text-dark" href="{% url 'products' %}?artist={{ artist.product_artist.name}}">
                                            <i class="fas fa-tag mr-1"></i>{{ artist.product_artist.friendly_name }}
                                        </a>
                                        </p>
                                    </div>
                                </div> 
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
