{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Our Artists</h2>
                <p>Fredrica Handy is a abstract artist working in multple fields, she finds inspiration in the bizarre and unusual.</p>
                <p>Jared Pottle is an artist inspired by the human form. His work questions the very nature of humanity and how we perceive it.</p>
                <p>Ceris Lightler describes her work as 'the abstract in the everyday',  Ceris sees the limimal space as ones that reveal a world beyond the normal.</p>
                <p>Luc Drir bases his work in nature and the natural world. Never happier than when he is out on location photographing the world around him.</p>
                <p>Alan 'Red' Bushe is a fascinated by the decaying world, his work often designed to incorporate uneasy elements of death and decay.</p>
                <p>Portia Towe is our newest member, and her work is aimed at re-defining and elevating everyday objects into true works of art, upscaling beyond what the viewer would expect.</p>
                <p>Bethany Floode is inspired by liminal spaces andd their uses. Her work is often seen as bleak and uncompromising, with a stark beauty that permeates her every piece.</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% endblock %}