<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{%  url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="art-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                New Art
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="art-link">
                <a href="{% url 'artists' %}?category=current-artists" class="dropdown-item">Our Artists</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="print-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Popular Prints
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="print-link">
                <a href="{% url 'products' %}?category=photography" class="dropdown-item">Photography</a>
                <a href="{% url 'products' %}?category=art" class="dropdown-item">Art</a>
                <a href="{% url 'products' %}?category=stationery" class="dropdown-item">Stationery</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Pieces
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=specials" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>